<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    {{{body}}}
    <script type="text/javscript" src="/javascripts/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javscript" src="/javascripts/vendor/popper.js"></script>
    <script type="text/javscript" src="/javascripts/vendor/bootstrap.min.js"></script>
    <script type="text/javscript" src="/javascripts/main.js"></script>
  </body>
</html>
