<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" action="/login" method="post">
					<span class="login100-form-title p-b-26">
						Sign In
					</span>
        {{#if errors}}
          <div class="alert alert-danger">
            {{#each errors}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        {{/if}}
        <div class="alert alert-light">{{message}}</div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
          <input class="input100" type="text" name="email" placeholder="Email">
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="password" placeholder="Password">
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
              Login
            </button>
          </div>
        </div>

        <div class="text-center p-t-115">
						<span class="txt1">
							Don't have an account?
						</span>
          <a class="txt2" href="/signup">
            Sign Up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>