<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="/ping" method="post">
          {{#if errors}}
            <div class="alert alert-danger">
              {{#each errors}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}
          <div class="alert alert-light">{{message}}</div>
					<div class="wrap-input100 validate-input" data-validate = "Name is invalid">
						<input class="input100" type="text" name="sender_name" placeholder="Sender Name">
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="recipient_phone" placeholder="Recipient Phone">
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter message">
						<textarea class="input100" name="message" placeholder="Message" rows="5"></textarea>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Send Message
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>